@import "{{ site.theme }}";

.page-header {
  color: #fff;
  text-align: center;
  background-image: linear-gradient(120deg, #155799, #155799);
}
.main-content {
  h1, h2 {
    color: #1e6bb8;
  }
}